@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
*{
  font-family:Arial, Helvetica, sans-serif;
}
@layer base{
  *{
    @apply  transition-colors transition-all duration-300 ease-in-out;
  }
  body {
    @apply bg-blue-200 text-black overflow-x-hidden box-border
    dark:bg-gray-900
    dark:text-white;
    
  }
}